@reference "./foundation.css";

.scrollbar-base.os-scrollbar {
	@apply transition-all;
	pointer-events: unset;

	&.os-scrollbar-horizontal {
		@apply py-1 px-2 h-4;

		.os-scrollbar-track .os-scrollbar-handle {
			@apply rounded-full h-1;
		}

		&:hover .os-scrollbar-track .os-scrollbar-handle {
			@apply h-2;
		}
	}

	&.os-scrollbar-vertical {
		@apply px-1 py-1 w-4;

		.os-scrollbar-track .os-scrollbar-handle {
			@apply rounded-full w-1;
		}

		&:hover .os-scrollbar-track .os-scrollbar-handle {
			@apply w-2;
		}
	}
}

.os-scrollbar {
	&.scrollbar-auto {
		--os-handle-bg: var(--scrollbar-bg);
		--os-handle-bg-hover: var(--scrollbar-bg-hover);
		--os-handle-bg-active: var(--scrollbar-bg-active);
	}

	&.scrollbar-dark {
		--os-handle-bg: var(--scrollbar-bg-dark);
		--os-handle-bg-hover: var(--scrollbar-bg-hover-dark);
		--os-handle-bg-active: var(--scrollbar-bg-active-dark);
	}

	&.scrollbar-light {
		--os-handle-bg: var(--scrollbar-bg-light);
		--os-handle-bg-hover: var(--scrollbar-bg-hover-light);
		--os-handle-bg-active: var(--scrollbar-bg-active-light);
	}
}

.pswp__button {
	@apply transition! bg-black/40! hover:bg-black/50! active:bg-black/60! flex! items-center! justify-center! mr-0! w-12! h-12!;

	&--zoom,
	&--close {
		@apply mt-4! rounded-xl! active:scale-90!;
	}

	&--zoom {
		@apply mr-2.5!;
	}

	&--close {
		@apply mr-4!;
	}
}

html {
	&.is-changing .transition-swup-fade {
		@apply transition-all duration-200;
	}

	&.is-animating .transition-swup-fade {
		@apply opacity-0 translate-y-4;
	}
}

@keyframes fade-in-up {
	0% {
		transform: translateY(2rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.onload-animation {
	opacity: 0;
	animation: 300ms fade-in-up;
	animation-fill-mode: forwards;
}

#navbar {
  	animation-delay: 0ms;
}

#sidebar {
  	animation-delay: 100ms;
}

#swup-container {
  	outline: none;
}

#content-wrapper {
  	animation-delay: var(--content-delay);
}

.footer {
  	animation-delay: 250ms;
}

#post-container :nth-child(1) {
  	animation-delay: calc(var(--content-delay) + 0ms);
}

#post-container :nth-child(2) {
  	animation-delay: calc(var(--content-delay) + 50ms);
}

#post-container :nth-child(3) {
  	animation-delay: calc(var(--content-delay) + 100ms);
}

#post-container :nth-child(4) {
  	animation-delay: calc(var(--content-delay) + 175ms);
}

#post-container :nth-child(5) {
  	animation-delay: calc(var(--content-delay) + 250ms);
}

#post-container :nth-child(6) {
  	animation-delay: calc(var(--content-delay) + 325ms);
}

.expressive-code .frame {
  	@apply shadow-none!;
}

.expressive-code .title {
	font-family: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
