@import "tailwindcss";

@source "./src/**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue,mjs}";

@custom-variant dark (&:where(.dark &));

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Roboto", "Apple Color Emoji", "Segoe UI Emoji","Noto Color Emoji",
    "Noto Sans SC", "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Source Han Sans SC", "WenQuanYi Micro Hei", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

